@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    /* display: none; */
    right: -60vw;
}
header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

.check > div{
    padding: 20%;
    background-color: purple;
    border: 5px solid black;
}
.server {
    width: 100%;
}

.server2 {
    width: 100%;
    margin: 2em auto 2em;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

.para {
    margin-top: 5%;
    font-size: 1em;
    text-align: left;
}
.para2 {
    font-size: 1em;
    text-align: left;
}
.para2:first-child {
    padding-top: 10%;
}
.para2:last-child {
    padding-bottom: 10%;
}

.hero-section {
    width: 101%;
    transform: skewY(-2deg);
    background-color: #2A755F;
    z-index: 2;
    position: relative;
}



.blue-container {
    width: 100%;
    background: #00C2FF;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.blue-container h1 {
    margin: 30px 0 100px 0;
    transform: skewY(2deg);
    
}
.blue-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.blue-container ul {
    transform: skewY(2deg);
}

.blue-container ul li {
    margin-bottom: 3em;
    background-color: #fff;
    border-radius: 42px;
    padding: 50px;
    margin: 60px 10px 80px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-container ul li p {
    padding: 0 .5em;
    color: #3D444A;
}

.blue-container img {
    width: 14%;
}

.blue-container ul li:nth-child(3) img {
    width: 8%;
}

.gray-container {
    background: #F6F6F6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #00C2FF;
}

h2 {
    margin-top: 7%;
}

.cta {
    background: #00CC80;
    width: 20px;
    color: #fff;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
}

.cta2{
    background: rgb(255, 255, 255);
    display: block;
    color: #4552FF;
    border-color: rgb(158, 158, 158);
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 3% auto 7%;
    margin-right: 0;
    position: relative;
    z-index: 4;
    border: 1px solid #4552FF;
}

.cta2:hover {
    color: #fff;
    background-color: #4552FF;
    transition: color 0.4s ease 0s;
}
.image-container {
    width: 100%;
    background-image: url("../images/mask.png");
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skewY(-2deg);
}

.image-container .container {
    transform: skewY(2deg);
     
}

.image-container .container h2 {
    color: #fff;
    font-size: 40px;
}


.work-container ul li img {
    border-radius: 10px 10px 0px 0px ;
    padding: 5px;
    width: 100%;
}

.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
    margin-top: 10%;
}

.footer-container .container {
    transform: skewY(-2deg);
}

.footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #3D444A;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.footer-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    border-radius: 50%;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
    padding: 10px;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
    right: 0vw;
    transition: all .5s ease-in-out;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: #00657e;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}










@media only screen and (min-width: 650px)  {

    .server {
        width: 50%;
    }

    .end {
        transform: skewY(0deg);
        padding-bottom: 28px;
        background: linear-gradient(to bottom, transparent 0%, #3d444a 70%);
    }

    .illustration {
        order: 1;
    }

    .illustration2 {
        order: 1;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }
    .work-container h1 {
        margin-top: 7%;
    }
    .subhead {
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 12%;
    }
    .work-container .heading {
        display: flex; 
        padding: 20px;
        /* justify-content: ; */
    }
    
    .work-container ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .work-container ul li{
        margin: 60px 10px 30px 10px;
        float: left;
        border-radius: 10px;
        box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);
        
    }
    .work-container .zoom {
        overflow: hidden;
    }
    .work-container ul li img {
        border-radius: 10px 10px 0px 0px ;
        padding: 5px;
        width: 100%;
    }
    .work-container ul li img:hover {
        transform: scale(1.1);
        transition: .5s ease;
    }
    
    .work-container ul li a {
        float: right;
    }

    .blue-container {
        margin: 0;
    }

    .blue-container img {
        width: 65%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 65%;
        margin-top: -6px;
    }

    .blue-container ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .blue-container ul li {
        margin-bottom: 0;
    }

    .blue-container ul li p {
        padding: 0 .8em;
    }

    .gray-container ul {
        display: flex;
    }

    nav ul {
        width: 40%;
    }

}

@media only screen and (min-width: 875px)  {
    
    .server {
        width: 140%;
        display: inline-block;
    }
    .server2 {
        width: 100%;
        display: inline-block;
    }
    .illustration {
        border-radius: 5px; 
    }
    .illustration2{
        border-radius: 5px; 
    }

    .title{
        text-align: left;
        flex-grow: 4;
    }

    .landing{
        display: flex;
        flex: 3;
        margin-top: 10%;
    }
    h1 {
        font-size: 1.8em;
        font-weight: bolder;
        margin: -50;
    }
    .subhead {
        margin-bottom: 15%;
    }

    .blue-container ul {
        margin: 0 0 4% 0;
    }

    .gray-container ul {
        margin: 4% 0 0;
    }

}

@media only screen and (min-width: 1024px)  {

    .cta {
        width: 50%;
    }

    .container {
        width: 85%;
        margin: 0 auto;
    }

    .blue-container ul li:nth-child(even) {
        margin-top: -130px;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        /* text-align: right; */
        padding: 1em 2em;
        font-weight: bold;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .scroll {
        width: 30px;
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(20px);
        }
    }

}

@media only screen and (min-width: 1600px)  {

    .server {
        width: 100%;
        margin: 5em auto 4em 15%;
    }

    .container {
        width: 70%;
    }

    .blue-container {
        padding: 7em 0 2em;
    }

    .blue-container ul li p, blockquote {
        font-size: 1.3em;
    }

    .gray-container {
        padding: 6em 0 4em;
    }

    h2 {
        margin-top: 4em;
    }

    .blue-container img {
        width: 15%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 8%;
        margin-top: -4px;
    }

}